.wrapper {
    display: flex;
    flex-direction: column;
    text-align: right;
    align-items: flex-end;
    gap: 40px;
}

.title {
   max-width: 291px;
   text-wrap: wrap;
   font-size: 18px;
   margin: 0;
   font-family: 'Inter';
   font-weight: 400;
}

.semiTitle {
    font-size: 18px;
    text-wrap: wrap;
    font-weight: 400;
    margin: 0 0 6px;
}

.text {
    font-size: 16px;
    text-wrap: wrap;
    max-width: 140px;
    margin: 0;
}

.accent {
    @supports (background-clip: text) or (-webkit-background-clip: text) {
    background: -webkit-linear-gradient(left, var(--colors-interface-accent), 
    var(--colors-interface-accent-text), 
    var(--colors-interface-accent), 
    var(--colors-interface-accent-text));
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-family: 'Inter';
    font-weight: 700;
    }
}

.gridZone {
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 1fr));
    gap: 30px;
    margin: 0 0 20px;
    font-weight: 400;
}

@media screen and (max-width: 600px) {
    .accent {
        @supports (background-clip: text) or (-webkit-background-clip: text) {
            background: -webkit-linear-gradient(left, var(--colors-interface-accent), 
            var(--colors-interface-accent-text),
            var(--colors-interface-accent));
            color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
            text-transform: lowercase;
            }
    }
    .title {
        text-align: left;
    }
    .wrapper {
        align-items: flex-start;
    }
    .gridZone {
        grid-template-columns: repeat(2, minmax(min-content, auto));
        text-align: left;
        gap: 15px;
        column-gap: 10px;
        letter-spacing: 0.05rem;
    }
    .semiTitle {
        margin: 0;
        font-size: 13px;
        max-width: fit-content;
    }
}

@media screen and (max-width: 376px) {
    .title{
        font-size: 16px;
    }
    .semiTitle {
        font-size: 11px;
    }
}