.button {
    margin: 0;
    padding: 21px 35px;
    border: none;
    box-sizing: border-box;
    width: 262px;
}

.defaultButton {
    color: var(--colors-interface-white);
    background-color: var(--colors-interface-button);
    font-size: 16px;
    font-weight: 500;
}

.submitButton {
    color: var(--colors-interface-white);
    background-color: var(--colors-interface-accent);
}

.button:hover {
    cursor: pointer;
    opacity: 0.8;
}

.resetButton {
    color: var(--colors-interface-white);
    background-color: var(--colors-interface-accent-variant);
}
