.navList {
    list-style: none;
    margin: 0;
    padding: 0;
    color: var(--colors-interface-dark-primary);
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: 'Inter';
    font-weight: 700;
}

.noTitleList {
    justify-content: flex-end;
}

.linkText {
    font-size: 16px;
    font-weight: 400;
}

.topLink{
    margin-top: 10px;
}

@media screen and (max-width: 910px) {
    .navList:first-of-type {
        flex-basis: 400px;
    }
}

@media screen and (max-width: 700px) {
    .navList:first-of-type {
        flex-basis: 600px;
    }
}

@media screen and (max-width: 500px) {
    .navList{
        font-size: 12px;
        letter-spacing: 0.05rem;
        gap: 5px;
    }
    .navList:nth-child(2), .navList:nth-child(3) {
        max-width: 125px;
    }
    .linkText {
        font-size: 14px;
        letter-spacing: 0;
    }
}
