.wrapper {
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 14px 0 90px 0;
    position: relative;
}

.navBar {
    display: flex;
    flex-direction: row;
    gap: 52px;
}

.logoBar {
    display: flex;
    flex-direction: column;
}

.logoWrapper {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.logoText {
    margin: 10px 0 0 0;
    font-family: 'Montserrat';
    font-weight: lighter;
    max-width: 165px;
    text-wrap: wrap;
    font-size: 10px;
    text-align: left;
}

.navMenu {
    display: flex;
    flex-direction: row;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.link {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
}

@media screen and (max-width: 1024px) {
    .logoBar {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .lastLink {
        display: none;
    }
    .wrapper {
        background-color: var(--colors-interface-black);
        padding: 25px 16px;
        justify-content: center;
        margin: 0 0 40px;
    }
    .navMenu {
        text-transform: uppercase;
        font-size: 12px;
        gap: 16px;
    }
}