.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 33px;
    box-sizing: border-box;
}

.columnBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navBar {
    display: flex;
    flex-direction: row;
    gap: 98px;
    text-align: left;
}

.columnList {
    font-family: 'Inter';
    font-weight: 700;
    list-style: none;
    margin: 0;
    padding: 0;
    color: var(--colors-interface-dark-primary);
    text-align: right;
}

.creditsBar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 16px;
    font-family: 'Montserrat';
}

.creditsText {
    margin: 0;
    font-family: 'Montserrat';
    font-size: 12px;
}

.creditsLink {
    text-decoration: underline;
    margin: 0;
    font-family: 'Montserrat';
    font-size: 12px;
}

.mobile {
    max-height: 137px;
    display: flex;
    flex-wrap: wrap;
    gap: 98px;
}

@media screen and (max-width: 1060px) {
    .navBar {
        gap: 30px;
    }
}

@media screen and (max-width: 910px) {
    .navBar {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 700px) {
    .columnBar{
        flex-wrap: wrap;
    }
    .columnList {
        margin-top: 30px;
        align-self: left;
        justify-self: left;
        text-align: left;
    }
    .creditsBar {
        align-self: flex-start;
        align-items: flex-start;
        text-align: left;
    }
}

@media screen and (max-width: 600px) {
    .wrapper {
        background-color: var(--colors-interface-black);
        padding: 45px 16px;
    }
    .columnList {
        font-size: 12px;
        letter-spacing: 0.05rem;
        gap: 5px;
    }
}
